<div class="container">
    <div class="background"></div>
    <div class="nav">
        <p class="links" routerLink="../pages/about">About</p>
        <p class="links" routerLink="../pages/projects">Projects</p>
        <img src="./../../../assets/logo.svg" alt="">
        <p class="links">Services</p>
        <p class="links" routerLink="../pages/experience">Experience</p>
    </div>
    <div class="content_div">
        <div class="content">
        <div class="top">
            <div class="name">
                <p class="im">I'M</p>
                <img src="./../../../assets/name.svg" alt="">
            </div>
            <div class="man">
                <img src="../../../assets/Man.png" alt="">
            </div>
        </div>
        <div class="bottom">
            <p class="titles">UI/UX DESIGNER</p>
            <p class="titles">FRONTEND DEVELOPER</p>
        </div>
    </div>
    </div>
    <div class="footer">
        <p>© Emmanuel Kadiri 2025</p>
    </div>
</div>