<div class="container">
  <app-project-card
    title="Portfolio V2"
    [imageSrc]="'assets/Blog Template Mockup.png'"
    [personImageSrc]="'assets/images/person.png'"
    [tags]="['HTML', 'CSS', 'Figma', 'Angular']"
    description="UX Designer | Frontend Developer"
    ctaLink="https://yourportfolio.com"
  ></app-project-card>
  <app-project-card
    title="Portfolio V2"
    [imageSrc]="'assets/Blog Template Mockup.png'"
    [personImageSrc]="'assets/images/person.png'"
    [tags]="['HTML', 'CSS', 'Figma', 'Angular']"
    description="UX Designer | Frontend Developer"
    ctaLink="https://yourportfolio.com"
  ></app-project-card>
</div>
