<div class="container">
  <div class="card">
    <app-project-card
      title="Portfolio V2"
      [imageSrc]="'assets/Portfolio 2 Mockup.png'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'Figma', 'Angular']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Call-Over Automation"
      [imageSrc]="'assets/Background.jpg'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'Angular']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Globus One"
      [imageSrc]="'assets/Background.jpg'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'StencilJS', 'NPM']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Emmanuel Phones"
      [imageSrc]="''"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['Figma']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Portfolio V1"
      [imageSrc]="'assets/Portfolio Mockup.png'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'React', 'TypeScript']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
</div>
