:host{
  width: fit-content;
}

.project_card {
  position: relative;
  width: 100%; /* adjust */
  height: 293px; /* adjust */
  overflow: hidden;
  border-radius: 8px;
}

.background {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block;
}

.overlay_background {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 37px;
  left: 29px;
  width: 85%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  z-index: 2; /* above overlay_background */
}

.project_title{
  color: #ffffff;
  font-weight: 700;
}

.project_desc{
  color: #ffffff;
  font-weight: 300;
}

.tags_div{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 50%;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 0.3rem;
}

.link_button img{
  width: 30px;
  height: 30px;
}