<div class="container">
  <div class="card">
    <app-project-card
      title="Portfolio V2"
      [imageSrc]="'assets/Portfolio 2 Mockup.png'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'Figma', 'Angular']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Emmanuel Phones"
      [imageSrc]="''"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['Figma']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Call-Over Automation"
      [imageSrc]="'assets/Background.jpg'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'Angular']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Portfolio V1"
      [imageSrc]="'assets/Portfolio Mockup.png'"
      [personImageSrc]="'assets/images/person.png'"
      [tags]="['HTML', 'CSS', 'React', 'TypeScript']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Meet - Group Chat For Everyone"
      [imageSrc]="'assets/Meet Mockup.png'"
      [tags]="['HTML', 'CSS']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Perfect Pair - Find Perfection in Every Shoe"
      [imageSrc]="'assets/Perfect Pair Mockup.png'"
      [tags]="['HTML', 'CSS']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="Blog Template"
      [imageSrc]="'assets/Blog Template Mockup.png'"
      [tags]="['HTML', 'CSS']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
  <div class="card">
    <app-project-card
      title="iCloud Photos Redesign"
      [imageSrc]="'assets/iCloud Photos Mockup.png'"
      [tags]="['HTML', 'CSS']"
      description="UX Designer | Frontend Developer"
      ctaLink="https://yourportfolio.com"
    ></app-project-card>
  </div>
</div>
